body {
    background-image: linear-gradient(#ffffff, #d4c684);
}
#logo {
    width: 105px;
    position: relative;
    left: 130px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001870;
    padding-top: 25px;
    padding-bottom: 25px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left:443px;
    top: 40px;
}
label {
    font-family:'Montserrat', sans-serif;
}
  
li a:hover {
    color: #fbce01;
}
#claudio {
    border: 2px solid #fbce01;
}
#claudio:hover {
    background-color: #fbce01;
    color: #001870;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    position: relative;
    left: 40px;
} 
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #262d88;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}
  
a {
    text-decoration: none;
    font-size: 22px;
    color: #2a2b5a;
}
h1, h3, p {
    font-family:'Montserrat', sans-serif;
    color: #2a2b5a;
}
h2 {
    position: relative;
    left: 40px;
    color: #2a2b5a;
    font-family:'Montserrat', sans-serif;
    position: relative;
}
